
<section class="index-page">
<div class="holder">
  <header></header>
  <div class="body"></div>
    <footer>
      <div class="row index">
        <div class="body">

    <div class="btn-group">
      <a href="/add/ingredients" role="button" class="index-buttons">Ingredients</a>

      <a href="/recipes" role="button" class="index-buttons">Recipes</a>


      <a href="/categories" role="button" class="index-buttons">Categories</a>

      <a href="/dinner" role="button" class="btn btn-warning dinner-button">What's For Dinner?</a>

    </div>
  </div>
  </footer>
</div>
</section>
