<h2 class="main-title">It's a Recipe Box</h2>
<h3 class="sub-title">Cook Things Good</h3>

<!-- <h5>View Existing Recipes by Category</h5> -->

<% if @categories.any? %>
  <% @categories.each do |category| %>
    <a href="/categories/<%= category.id() %>" role="button" class="btn btn-info category-buttons"><%= category.description %></a>
  <% end %>
<% end %>

<div class="row">

<div class="ingredients-button">
  <p><a href="/add/ingredients" role="button" class="btn btn-success">View/Add Ingredients</a></p>
</div>


<div class="categories-button">
  <p><a href="/add/categories" role="button" class="btn btn-primary">Add a Recipe Category</a></p>

</div>
</div>
