
<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
    <footer>
      <br>
      <div class="container">
        <a href="/" class="btn btn-warning" role="button">Return Home</a></button>
      </div>
    </footer>
  </body>
</html>
