<h3>Update <%= @recipe.title %></h3>

<form action='/recipes/<%= @recipe.id %>' method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="recipe_id" value= "<%= @recipe.id %>">

  <input type="text" name="instructions" id="instructions" placeholder = "<%= @recipe.instructions %>">
  <button type="submit" class="btn btn-success">Update</button>
</form>

<div class="container">
  <a href="/" class="btn btn-warning" role="button">Return Home</a></button>
</div>
