html, body {
  height: 100%;
}

.index-page {
  background-image: url("img/recipe_box.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  position: relative;
  min-width: 100%;
  font-family: "Lato";
  height: 100%;
}

.jumbotron {
background-image: url("img/ingredients2.jpg");
background-repeat: no-repeat;
background-position: center;
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
text-align: center;
position: relative;
height: 200px;
min-width: 100%;
}

.holder {
  min-height: 100%;
  position: relative;
}

.body {
  padding-bottom: 170px;
}

footer {
  margin-top: 50px;
  width:100%;
}

.category-title {
  color: #8B008B;
  font-size: 35px;
}

.main-title {
  color: #4B0082;
  font-size: 45px;
  margin-bottom: 0px;
  text-shadow: 0px 1px 1px #000;
}

.sub-title {
  color: #00820a;
  font-size:30px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 15px;
  text-shadow: 0px 1px 1px #000;
}

.category-buttons {
  margin: 5px;
}

.no-value-alert {
  margin-bottom: 20px;
}

.title-input {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ingredients-button {
  margin-top: 35px;
  margin-right: 10px;
}

.types {
  list-style: none;
  font-size: 20px;
  font-style: underline;
  text-align: center;
  padding-left: 0px;
  margin-left: 0px;
}

ul {
  padding-left: 0px;
}

.ingredients {
  list-style: none;
  text-align: center;
  padding-left: 0px;
  margin-left: 0px;
  font-size: 15px;
}

.ingredients-page {
  background-image: none;
  background: none;
}

.list, ul {
  font-size: 20px;
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}

.instructions {
  font-size: 20px;
}

.ingredients-title, .instructions-title {
  font-size: 25px;
}

.categories-button, .ingredients-button, .update-btn, .delete-btn {
  display: inline-block;
}


.add-ingredient-button {
  font-size: 12px;
  padding: 4px;
}


.ingredients-title {
  margin-bottom: 0px;
}

.stars {
  width: 100px;
  margin-top: 15px;
}

.recipe-container {
  border-style: solid;
  width: 200px;
  border-radius: 25px;
  height: 200px;
}

.index-buttons {

}

.index-buttons {
	-moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
	background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
	background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
	background-color:#7d5d3b;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
  font-family: 'Special Elite', cursive;
	font-size:20px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
  width: 160px;
  margin-left: 10px;
  margin-right: 10px;
}
.index-buttons:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
	background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
	background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
	background-color:#634b30;
}
.index-button:active {
	position:relative;
	top:1px;
}

.index-button {
  position:absolute;
  bottom:0;
}

.index-container {
  position: relative;
}
