html {
  height: 100%;
}

body {
  background-image: url("img/chicken_dog.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  position: relative;
  background-size: auto 100%;
  min-height: 100%;
  font-family: "Lato";
}

.category-title {
  color: #8B008B;
  font-size: 35px;
}

.main-title {
  color: #4B0082;
  font-size: 45px;
  margin-bottom: 0px;
  text-shadow: 0px 1px 1px #000;
}

.sub-title {
  color: #00820a;
  font-size:30px;
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 15px;
  text-shadow: 0px 1px 1px #000;
}

.category-buttons {
  margin: 5px;
}

.no-value-alert {
  margin-bottom: 20px;
}

.title-input {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.ingredients-button {
  margin-top: 35px;
  margin-right: 10px;
}

.types {
  list-style: none;
  font-size: 20px;
  font-style: underline;
  text-align: center;
  padding-left: 0px;
  margin-left: 0px;
}

ul {
  padding-left: 0px;
}

.ingredients {
  list-style: none;
  text-align: center;
  padding-left: 0px;
  margin-left: 0px;
}

.list, ul {
  font-size: 20px;
  list-style: none;
  padding-left: 0px;
  margin-left: 0px;
}

.instructions {
  font-size: 20px;
}

.ingredients-title, .instructions-title {
  font-size: 25px;
}

.categories-button, .ingredients-button, .update-btn, .delete-btn {
  display: inline-block;
}

.add-ingredient-button {
  font-size: 12px;
  padding: 4px;
}


.ingredients-title {
  margin-bottom: 0px;
}

.stars {
  width: 100px;
  margin-top: 15px;
}

.recipe-container {
  border-style: solid;
  width: 200px;
  border-radius: 25px;
  height: 200px;

}
